html {
  background-color:#596669;
}

main {
  color:#F2F0F0;
  background-color:#596669;;
}
.navbar-custom {
  background-color: #2F3D43;
}

.collapse navbar-collapse {
  color:white;
}

.card-color {
  background-color: #2F3D43;
}

#container {
  width:70%;
  margin-right:auto;
  margin-left:auto;
}
#projects {
  background-color:#95A690;
  width:100%;
}